body {
  background-color: #fdfaf6;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.navbar {
  background-color: #faf1e6;
  color: #064420;
  padding: 2% 1%;
  overflow: hidden;
}

.navbar div {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fdfaf6;
}

#brand {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: #e4efe7 3px 3px 3px;
}

.hamburger {
  background-color: transparent;
  border: none;
  color: #064420;
  font-size: 1.5rem;
  text-shadow: #e4efe7 3px 3px;
  float: right;
  margin-top: 1%;
}

.hidden {
  display: none !important;
}

.flip-right {
  transform: rotate(90deg);
  transition: transform 1s linear;
}

.flip-left {
  transform: rotate(0deg);
  transition: transform 1s linear;
}

#mobile-nav {
  background-color: #e4efe7;
  padding: 2%;
  line-height: 5vh;
}

#socials {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  letter-spacing: 1vh;
}

#nav-links {
  letter-spacing: 0.5vh;
  text-align: center;
  width: 35%;
  position: absolute;
  margin-left: 30%;
  margin-top: 1%;
}
